In [141]:
import numpy as np
import pandas as pd
from pydataset import data
import os

In [2]:
df_iris = data('iris')

In [3]:
df_iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
1             5.1          3.5           1.4          0.2      setosa
2             4.9          3.0           1.4          0.2      setosa
3             4.7          3.2           1.3          0.2      setosa
4             4.6          3.1           1.5          0.2      setosa
5             5.0          3.6           1.4          0.2      setosa
6             5.4          3.9           1.7          0.4      setosa
7             4.6          3.4           1.4          0.3      setosa
8             5.0          3.4           1.5          0.2      setosa
9             4.4          2.9           1.4          0.2      setosa
10            4.9          3.1           1.5          0.1      setosa
11            5.4          3.7           1.5          0.2      setosa
12            4.8          3.4           1.6          0.2      setosa
13            4.8          3.0           1.4          0.1      setosa
14            4.3          3.0           1.1          0.1      setosa
15            5.8          4.0           1.2          0.2      setosa
16            5.7          4.4           1.5          0.4      setosa
17            5.4          3.9           1.3          0.4      setosa
18            5.1          3.5           1.4          0.3      setosa
19            5.7          3.8           1.7          0.3      setosa
20            5.1          3.8           1.5          0.3      setosa
21            5.4          3.4           1.7          0.2      setosa
22            5.1          3.7           1.5          0.4      setosa
23            4.6          3.6           1.0          0.2      setosa
24            5.1          3.3           1.7          0.5      setosa
25            4.8          3.4           1.9          0.2      setosa
26            5.0          3.0           1.6          0.2      setosa
27            5.0          3.4           1.6          0.4      setosa
28            5.2          3.5           1.5          0.2      setosa
29            5.2          3.4           1.4          0.2      setosa
30            4.7          3.2           1.6          0.2      setosa
31            4.8          3.1           1.6          0.2      setosa
32            5.4          3.4           1.5          0.4      setosa
33            5.2          4.1           1.5          0.1      setosa
34            5.5          4.2           1.4          0.2      setosa
35            4.9          3.1           1.5          0.2      setosa
36            5.0          3.2           1.2          0.2      setosa
37            5.5          3.5           1.3          0.2      setosa
38            4.9          3.6           1.4          0.1      setosa
39            4.4          3.0           1.3          0.2      setosa
40            5.1          3.4           1.5          0.2      setosa
41            5.0          3.5           1.3          0.3      setosa
42            4.5          2.3           1.3          0.3      setosa
43            4.4          3.2           1.3          0.2      setosa
44            5.0          3.5           1.6          0.6      setosa
45            5.1          3.8           1.9          0.4      setosa
46            4.8          3.0           1.4          0.3      setosa
47            5.1          3.8           1.6          0.2      setosa
48            4.6          3.2           1.4          0.2      setosa
49            5.3          3.7           1.5          0.2      setosa
50            5.0          3.3           1.4          0.2      setosa
51            7.0          3.2           4.7          1.4  versicolor
52            6.4          3.2           4.5          1.5  versicolor
53            6.9          3.1           4.9          1.5  versicolor
54            5.5          2.3           4.0          1.3  versicolor
55            6.5          2.8           4.6          1.5  versicolor
56            5.7          2.8           4.5          1.3  versicolor
57            6.3          3.3           4.7          1.6  versicolor
58            4.9          2.4           3.3          1.0  versicolor
59            6.6          2.9           4.6          1.3  versicolor
60            5.2          2.7           3.9          1.4  versicolor
61            5.0          2.0           3.5          1.0  versicolor
62            5.9          3.0           4.2          1.5  versicolor
63            6.0          2.2           4.0          1.0  versicolor
64            6.1          2.9           4.7          1.4  versicolor
65            5.6          2.9           3.6          1.3  versicolor
66            6.7          3.1           4.4          1.4  versicolor
67            5.6          3.0           4.5          1.5  versicolor
68            5.8          2.7           4.1          1.0  versicolor
69            6.2          2.2           4.5          1.5  versicolor
70            5.6          2.5           3.9          1.1  versicolor
71            5.9          3.2           4.8          1.8  versicolor
72            6.1          2.8           4.0          1.3  versicolor
73            6.3          2.5           4.9          1.5  versicolor
74            6.1          2.8           4.7          1.2  versicolor
75            6.4          2.9           4.3          1.3  versicolor
76            6.6          3.0           4.4          1.4  versicolor
77            6.8          2.8           4.8          1.4  versicolor
78            6.7          3.0           5.0          1.7  versicolor
79            6.0          2.9           4.5          1.5  versicolor
80            5.7          2.6           3.5          1.0  versicolor
81            5.5          2.4           3.8          1.1  versicolor
82            5.5          2.4           3.7          1.0  versicolor
83            5.8          2.7           3.9          1.2  versicolor
84            6.0          2.7           5.1          1.6  versicolor
85            5.4          3.0           4.5          1.5  versicolor
86            6.0          3.4           4.5          1.6  versicolor
87            6.7          3.1           4.7          1.5  versicolor
88            6.3          2.3           4.4          1.3  versicolor
89            5.6          3.0           4.1          1.3  versicolor
90            5.5          2.5           4.0          1.3  versicolor
91            5.5          2.6           4.4          1.2  versicolor
92            6.1          3.0           4.6          1.4  versicolor
93            5.8          2.6           4.0          1.2  versicolor
94            5.0          2.3           3.3          1.0  versicolor
95            5.6          2.7           4.2          1.3  versicolor
96            5.7          3.0           4.2          1.2  versicolor
97            5.7          2.9           4.2          1.3  versicolor
98            6.2          2.9           4.3          1.3  versicolor
99            5.1          2.5           3.0          1.1  versicolor
100           5.7          2.8           4.1          1.3  versicolor
101           6.3          3.3           6.0          2.5   virginica
102           5.8          2.7           5.1          1.9   virginica
103           7.1          3.0           5.9          2.1   virginica
104           6.3          2.9           5.6          1.8   virginica
105           6.5          3.0           5.8          2.2   virginica
106           7.6          3.0           6.6          2.1   virginica
107           4.9          2.5           4.5          1.7   virginica
108           7.3          2.9           6.3          1.8   virginica
109           6.7          2.5           5.8          1.8   virginica
110           7.2          3.6           6.1          2.5   virginica
111           6.5          3.2           5.1          2.0   virginica
112           6.4          2.7           5.3          1.9   virginica
113           6.8          3.0           5.5          2.1   virginica
114           5.7          2.5           5.0          2.0   virginica
115           5.8          2.8           5.1          2.4   virginica
116           6.4          3.2           5.3          2.3   virginica
117           6.5          3.0           5.5          1.8   virginica
118           7.7          3.8           6.7          2.2   virginica
119           7.7          2.6           6.9          2.3   virginica
120           6.0          2.2           5.0          1.5   virginica
121           6.9          3.2           5.7          2.3   virginica
122           5.6          2.8           4.9          2.0   virginica
123           7.7          2.8           6.7          2.0   virginica
124           6.3          2.7           4.9          1.8   virginica
125           6.7          3.3           5.7          2.1   virginica
126           7.2          3.2           6.0          1.8   virginica
127           6.2          2.8           4.8          1.8   virginica
128           6.1          3.0           4.9          1.8   virginica
129           6.4          2.8           5.6          2.1   virginica
130           7.2          3.0           5.8          1.6   virginica
131           7.4          2.8           6.1          1.9   virginica
132           7.9          3.8           6.4          2.0   virginica
133           6.4          2.8           5.6          2.2   virginica
134           6.3          2.8           5.1          1.5   virginica
135           6.1          2.6           5.6          1.4   virginica
136           7.7          3.0           6.1          2.3   virginica
137           6.3          3.4           5.6          2.4   virginica
138           6.4          3.1           5.5          1.8   virginica
139           6.0          3.0           4.8          1.8   virginica
140           6.9          3.1           5.4          2.1   virginica
141           6.7          3.1           5.6          2.4   virginica
142           6.9          3.1           5.1          2.3   virginica
143           5.8          2.7           5.1          1.9   virginica
144           6.8          3.2           5.9          2.3   virginica
145           6.7          3.3           5.7          2.5   virginica
146           6.7          3.0           5.2          2.3   virginica
147           6.3          2.5           5.0          1.9   virginica
148           6.5          3.0           5.2          2.0   virginica
149           6.2          3.4           5.4          2.3   virginica
150           5.9          3.0           5.1          1.8   virginica

print the first 3 rows

In [4]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

print the number of rows and columns (shape)

In [5]:
df_iris.shape

(150, 5)

print the column names

In [10]:
for col in df_iris.columns:
    print(col)

Sepal.Length
Sepal.Width
Petal.Length
Petal.Width
Species

print the data type of each column

In [14]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

print the summary statistics for each of the numeric variables

In [15]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Read the data from this google sheet into a dataframe, df_google.

In [17]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = sheet_url.replace('/edit#gid=','/export?format=csv&gid=')
csv_export_url

'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/export?format=csv&gid=341089357'

In [18]:
df_google = pd.read_csv(csv_export_url)
df_google

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

print the first 3 rows

In [19]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

print the number of rows and columns

In [21]:
df_google.shape

(891, 12)

print the column names

In [22]:
for col in df_google.columns:
    print(col)

PassengerId
Survived
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked

In [23]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

print the data type of each column

In [24]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

print the summary statistics for each of the numeric variables

In [25]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

print the unique values for each of your categorical variables

In [31]:
df_google.Survived.unique()

array([0, 1])

In [32]:
df_google.Pclass.unique()

array([3, 1, 2])

In [33]:
df_google.Sex.unique()

array(['male', 'female'], dtype=object)

In [34]:
df_google.SibSp.unique()

array([1, 0, 3, 4, 2, 5, 8])

In [35]:
df_google.Parch.unique()

array([0, 1, 2, 5, 3, 4, 6])

In [36]:
df_google.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [37]:
df_google.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [164]:
df_excel = pd.read_excel("train.xlsx", sheet_name="train", header=0)
df_excel.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

assign the first 100 rows to a new dataframe, df_excel_sample

In [165]:
df_excel_sample = df_excel.head(101)

In [166]:
df_excel_sample

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.00,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.00,1,0,2926,26.0000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33.00,3,0,3101278,15.8500,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S

print the first 5 column names

In [159]:
df_excel_sample.columns[1:6]

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age'], dtype='object')

print the column names that have a data type of object

In [160]:
df_excel_sample.dtypes[df_excel.dtypes == object]

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

compute the range for each of the numeric variables.

In [161]:
df_excel_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  101 non-null    int64
 1   Survived     101 non-null    int64
 2   Pclass       101 non-null    int64
 3   Name         101 non-null    object
 4   Sex          101 non-null    object
 5   Age          79 non-null     float64
 6   SibSp        101 non-null    int64
 7   Parch        101 non-null    int64
 8   Ticket       101 non-null    object
 9   Fare         101 non-null    float64
 10  Cabin        20 non-null     object
 11  Embarked     100 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 9.6+ KB

In [163]:
ranges = df_excel_sample.describe().loc['max'] - df_excel_sample.describe().loc['min']
ranges

PassengerId    100.000
Survived         1.000
Pclass           2.000
Age             70.170
SibSp            5.000
Parch            5.000
Fare           255.775
dtype: float64

In [76]:
df_excel.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,101.000000,101.000000,101.000000,79.000000,101.000000,101.000000,101.000000
mean,51.000000,0.405941,2.405941,27.472532,0.722772,0.435644,29.303548
std,29.300171,0.493522,0.814595,15.180740,1.175745,0.963492,40.824256
min,1.000000,0.000000,1.000000,0.830000,0.000000,0.000000,7.225000
25%,26.000000,0.000000,2.000000,18.500000,0.000000,0.000000,8.050000
50%,51.000000,0.000000,3.000000,26.000000,0.000000,0.000000,15.500000
75%,76.000000,1.000000,3.000000,34.500000,1.000000,0.000000,31.387500
max,101.000000,1.000000,3.000000,71.000000,5.000000,5.000000,263.000000

Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [83]:
from env import host_name, user, password

In [84]:
def get_db_url(database, user=env.user, password=env.password, host_name=env.host_name):
    url = f'mysql+pymysql://{user}:{password}@{host_name}/{database}'
    return url

In [85]:
url = get_db_url('titanic_db')
url

'mysql+pymysql://pagel_2187:Fd9gHEmyRFZNH6qGh9rSzxcksXhZ4wz6@data.codeup.com/titanic_db'

In [86]:
df1 = pd.read_sql('select * from passengers', url)
df1

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [98]:
def new_titanic_data(SQL_query):
    '''
    - This function will:
    - take in a sql query
    - create a connect_url to mySQL
    - return a df of the given query from the titanic_db
    '''
    url = get_db_url('titanic_db')
    
    return pd.read_sql(SQL_query, url)

In [142]:
def get_titanic_data(SQL_query, directory, filename='titanic.csv'):
    '''
    this function will:
    -check local directory for csv file
     -return if exists
    -if csv doesn't exist:
     -create a df of the SQL_query
     -write df to csv
    -output titanic df
    '''
    if os.path.exists(directory + filename):
        df = pd.read_csv(filename)
        return df
    else:
        df = new_titanic_data(SQL_query)
        
        #want to save to csv
        df.to_csv(filename)
        return df

In [145]:
os.getcwd()

'/Users/andrewcasey/codeup-data-science/classification_exercises'

In [146]:
SQL_query = 'select * from passengers'
directory = '/Users/andrewcasey/codeup-data-science/classification_exercises'

In [147]:
get_titanic_data(SQL_query, directory)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [99]:
df_t = new_titanic_data('select * from passengers')
df_t

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [110]:
url = get_db_url('iris_db')
url

'mysql+pymysql://pagel_2187:Fd9gHEmyRFZNH6qGh9rSzxcksXhZ4wz6@data.codeup.com/iris_db'

In [111]:
df2 = pd.read_sql('''select * 
                    from species
                    join measurements using (species_id)
                    ''', url)
df2

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2
5,1,setosa,6,5.4,3.9,1.7,0.4
6,1,setosa,7,4.6,3.4,1.4,0.3
7,1,setosa,8,5.0,3.4,1.5,0.2
8,1,setosa,9,4.4,2.9,1.4,0.2
9,1,setosa,10,4.9,3.1,1.5,0.1
10,1,setosa,11,5.4,3.7,1.5,0.2
11,1,setosa,12,4.8,3.4,1.6,0.2
12,1,setosa,13,4.8,3.0,1.4,0.1
13,1,setosa,14,4.3,3.0,1.1,0.1
14,1,setosa,15,5.8,4.0,1.2,0.2
15,1,setosa,16,5.7,4.4,1.5,0.4
16,1,setosa,17,5.4,3.9,1.3,0.4
17,1,setosa,18,5.1,3.5,1.4,0.3
18,1,setosa,19,5.7,3.8,1.7,0.3
19,1,setosa,20,5.1,3.8,1.5,0.3
20,1,setosa,21,5.4,3.4,1.7,0.2
21,1,setosa,22,5.1,3.7,1.5,0.4
22,1,setosa,23,4.6,3.6,1.0,0.2
23,1,setosa,24,5.1,3.3,1.7,0.5
24,1,setosa,25,4.8,3.4,1.9,0.2
25,1,setosa,26,5.0,3.0,1.6,0.2
26,1,setosa,27,5.0,3.4,1.6,0.4
27,1,setosa,28,5.2,3.5,1.5,0.2
28,1,setosa,29,5.2,3.4,1.4,0.2
29,1,setosa,30,4.7,3.2,1.6,0.2
30,1,setosa,31,4.8,3.1,1.6,0.2
31,1,setosa,32,5.4,3.4,1.5,0.4
32,1,setosa,33,5.2,4.1,1.5,0.1
33,1,setosa,34,5.5,4.2,1.4,0.2
34,1,setosa,35,4.9,3.1,1.5,0.2
35,1,setosa,36,5.0,3.2,1.2,0.2
36,1,setosa,37,5.5,3.5,1.3,0.2
37,1,setosa,38,4.9,3.6,1.4,0.1
38,1,setosa,39,4.4,3.0,1.3,0.2
39,1,setosa,40,5.1,3.4,1.5,0.2
40,1,setosa,41,5.0,3.5,1.3,0.3
41,1,setosa,42,4.5,2.3,1.3,0.3
42,1,setosa,43,4.4,3.2,1.3,0.2
43,1,setosa,44,5.0,3.5,1.6,0.6
44,1,setosa,45,5.1,3.8,1.9,0.4
45,1,setosa,46,4.8,3.0,1.4,0.3
46,1,setosa,47,5.1,3.8,1.6,0.2
47,1,setosa,48,4.6,3.2,1.4,0.2
48,1,setosa,49,5.3,3.7,1.5,0.2
49,1,setosa,50,5.0,3.3,1.4,0.2
50,2,versicolor,51,7.0,3.2,4.7,1.4
51,2,versicolor,52,6.4,3.2,4.5,1.5
52,2,versicolor,53,6.9,3.1,4.9,1.5
53,2,versicolor,54,5.5,2.3,4.0,1.3
54,2,versicolor,55,6.5,2.8,4.6,1.5
55,2,versicolor,56,5.7,2.8,4.5,1.3
56,2,versicolor,57,6.3,3.3,4.7,1.6
57,2,versicolor,58,4.9,2.4,3.3,1.0
58,2,versicolor,59,6.6,2.9,4.6,1.3
59,2,versicolor,60,5.2,2.7,3.9,1.4
60,2,versicolor,61,5.0,2.0,3.5,1.0
61,2,versicolor,62,5.9,3.0,4.2,1.5
62,2,versicolor,63,6.0,2.2,4.0,1.0
63,2,versicolor,64,6.1,2.9,4.7,1.4
64,2,versicolor,65,5.6,2.9,3.6,1.3
65,2,versicolor,66,6.7,3.1,4.4,1.4
66,2,versicolor,67,5.6,3.0,4.5,1.5
67,2,versicolor,68,5.8,2.7,4.1,1.0
68,2,versicolor,69,6.2,2.2,4.5,1.5
69,2,versicolor,70,5.6,2.5,3.9,1.1
70,2,versicolor,71,5.9,3.2,4.8,1.8
71,2,versicolor,72,6.1,2.8,4.0,1.3
72,2,versicolor,73,6.3,2.5,4.9,1.5
73,2,versicolor,74,6.1,2.8,4.7,1.2
74,2,versicolor,75,6.4,2.9,4.3,1.3
75,2,versicolor,76,6.6,3.0,4.4,1.4
76,2,versicolor,77,6.8,2.8,4.8,1.4
77,2,versicolor,78,6.7,3.0,5.0,1.7
78,2,versicolor,79,6.0,2.9,4.5,1.5
79,2,versicolor,80,5.7,2.6,3.5,1.0
80,2,versicolor,81,5.5,2.4,3.8,1.1
81,2,versicolor,82,5.5,2.4,3.7,1.0
82,2,versicolor,83,5.8,2.7,3.9,1.2
83,2,versicolor,84,6.0,2.7,5.1,1.6
84,2,versicolor,85,5.4,3.0,4.5,1.5
85,2,versicolor,86,6.0,3.4,4.5,1.6
86,2,versicolor,87,6.7,3.1,4.7,1.5
87,2,versicolor,88,6.3,2.3,4.4,1.3
88,2,versicolor,89,5.6,3.0,4.1,1.3
89,2,versicolor,90,5.5,2.5,4.0,1.3
90,2,versicolor,91,5.5,2.6,4.4,1.2
91,2,versicolor,92,6.1,3.0,4.6,1.4
92,2,versicolor,93,5.8,2.6,4.0,1.2
93,2,versicolor,94,5.0,2.3,3.3,1.0
94,2,versicolor,95,5.6,2.7,4.2,1.3
95,2,versicolor,96,5.7,3.0,4.2,1.2
96,2,versicolor,97,5.7,2.9,4.2,1.3
97,2,versicolor,98,6.2,2.9,4.3,1.3
98,2,versicolor,99,5.1,2.5,3.0,1.1
99,2,versicolor,100,5.7,2.8,4.1,1.3
100,3,virginica,101,6.3,3.3,6.0,2.5
101,3,virginica,102,5.8,2.7,5.1,1.9
102,3,virginica,103,7.1,3.0,5.9,2.1
103,3,virginica,104,6.3,2.9,5.6,1.8
104,3,virginica,105,6.5,3.0,5.8,2.2
105,3,virginica,106,7.6,3.0,6.6,2.1
106,3,virginica,107,4.9,2.5,4.5,1.7
107,3,virginica,108,7.3,2.9,6.3,1.8
108,3,virginica,109,6.7,2.5,5.8,1.8
109,3,virginica,110,7.2,3.6,6.1,2.5
110,3,virginica,111,6.5,3.2,5.1,2.0
111,3,virginica,112,6.4,2.7,5.3,1.9
112,3,virginica,113,6.8,3.0,5.5,2.1
113,3,virginica,114,5.7,2.5,5.0,2.0
114,3,virginica,115,5.8,2.8,5.1,2.4
115,3,virginica,116,6.4,3.2,5.3,2.3
116,3,virginica,117,6.5,3.0,5.5,1.8
117,3,virginica,118,7.7,3.8,6.7,2.2
118,3,virginica,119,7.7,2.6,6.9,2.3
119,3,virginica,120,6.0,2.2,5.0,1.5
120,3,virginica,121,6.9,3.2,5.7,2.3
121,3,virginica,122,5.6,2.8,4.9,2.0
122,3,virginica,123,7.7,2.8,6.7,2.0
123,3,virginica,124,6.3,2.7,4.9,1.8
124,3,virginica,125,6.7,3.3,5.7,2.1
125,3,virginica,126,7.2,3.2,6.0,1.8
126,3,virginica,127,6.2,2.8,4.8,1.8
127,3,virginica,128,6.1,3.0,4.9,1.8
128,3,virginica,129,6.4,2.8,5.6,2.1
129,3,virginica,130,7.2,3.0,5.8,1.6
130,3,virginica,131,7.4,2.8,6.1,1.9
131,3,virginica,132,7.9,3.8,6.4,2.0
132,3,virginica,133,6.4,2.8,5.6,2.2
133,3,virginica,134,6.3,2.8,5.1,1.5
134,3,virginica,135,6.1,2.6,5.6,1.4
135,3,virginica,136,7.7,3.0,6.1,2.3
136,3,virginica,137,6.3,3.4,5.6,2.4
137,3,virginica,138,6.4,3.1,5.5,1.8
138,3,virginica,139,6.0,3.0,4.8,1.8
139,3,virginica,140,6.9,3.1,5.4,2.1
140,3,virginica,141,6.7,3.1,5.6,2.4
141,3,virginica,142,6.9,3.1,5.1,2.3
142,3,virginica,143,5.8,2.7,5.1,1.9
143,3,virginica,144,6.8,3.2,5.9,2.3
144,3,virginica,145,6.7,3.3,5.7,2.5
145,3,virginica,146,6.7,3.0,5.2,2.3
146,3,virginica,147,6.3,2.5,5.0,1.9
147,3,virginica,148,6.5,3.0,5.2,2.0
148,3,virginica,149,6.2,3.4,5.4,2.3
149,3,virginica,150,5.9,3.0,5.1,1.8

In [114]:
def new_iris_data(SQL_query):
    '''
    - This function will:
    - take in a sql query
    - create a connect_url to mySQL
    - return a df of the given query from the iris_db
    '''
    url = get_db_url('iris_db')
    
    return pd.read_sql(SQL_query, url)

In [148]:
def get_iris_data(SQL_query, directory, filename='iris.csv'):
    '''
    this function will:
    -check local directory for csv file
     -return if exists
    -if csv doesn't exist:
     -create a df of the SQL_query
     -write df to csv
    -output titanic df
    '''
    if os.path.exists(directory + filename):
        df = pd.read_csv(filename)
        return df
    else:
        df = new_iris_data(SQL_query)
        
        #want to save to csv
        df.to_csv(filename)
        return df

In [150]:
SQL_query = """select * 
                    from species 
                    join measurements using (species_id)"""
directory = '/Users/andrewcasey/codeup-data-science/classification_exercises'

In [151]:
get_iris_data(SQL_query, directory)

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2
5,1,setosa,6,5.4,3.9,1.7,0.4
6,1,setosa,7,4.6,3.4,1.4,0.3
7,1,setosa,8,5.0,3.4,1.5,0.2
8,1,setosa,9,4.4,2.9,1.4,0.2
9,1,setosa,10,4.9,3.1,1.5,0.1
10,1,setosa,11,5.4,3.7,1.5,0.2
11,1,setosa,12,4.8,3.4,1.6,0.2
12,1,setosa,13,4.8,3.0,1.4,0.1
13,1,setosa,14,4.3,3.0,1.1,0.1
14,1,setosa,15,5.8,4.0,1.2,0.2
15,1,setosa,16,5.7,4.4,1.5,0.4
16,1,setosa,17,5.4,3.9,1.3,0.4
17,1,setosa,18,5.1,3.5,1.4,0.3
18,1,setosa,19,5.7,3.8,1.7,0.3
19,1,setosa,20,5.1,3.8,1.5,0.3
20,1,setosa,21,5.4,3.4,1.7,0.2
21,1,setosa,22,5.1,3.7,1.5,0.4
22,1,setosa,23,4.6,3.6,1.0,0.2
23,1,setosa,24,5.1,3.3,1.7,0.5
24,1,setosa,25,4.8,3.4,1.9,0.2
25,1,setosa,26,5.0,3.0,1.6,0.2
26,1,setosa,27,5.0,3.4,1.6,0.4
27,1,setosa,28,5.2,3.5,1.5,0.2
28,1,setosa,29,5.2,3.4,1.4,0.2
29,1,setosa,30,4.7,3.2,1.6,0.2
30,1,setosa,31,4.8,3.1,1.6,0.2
31,1,setosa,32,5.4,3.4,1.5,0.4
32,1,setosa,33,5.2,4.1,1.5,0.1
33,1,setosa,34,5.5,4.2,1.4,0.2
34,1,setosa,35,4.9,3.1,1.5,0.2
35,1,setosa,36,5.0,3.2,1.2,0.2
36,1,setosa,37,5.5,3.5,1.3,0.2
37,1,setosa,38,4.9,3.6,1.4,0.1
38,1,setosa,39,4.4,3.0,1.3,0.2
39,1,setosa,40,5.1,3.4,1.5,0.2
40,1,setosa,41,5.0,3.5,1.3,0.3
41,1,setosa,42,4.5,2.3,1.3,0.3
42,1,setosa,43,4.4,3.2,1.3,0.2
43,1,setosa,44,5.0,3.5,1.6,0.6
44,1,setosa,45,5.1,3.8,1.9,0.4
45,1,setosa,46,4.8,3.0,1.4,0.3
46,1,setosa,47,5.1,3.8,1.6,0.2
47,1,setosa,48,4.6,3.2,1.4,0.2
48,1,setosa,49,5.3,3.7,1.5,0.2
49,1,setosa,50,5.0,3.3,1.4,0.2
50,2,versicolor,51,7.0,3.2,4.7,1.4
51,2,versicolor,52,6.4,3.2,4.5,1.5
52,2,versicolor,53,6.9,3.1,4.9,1.5
53,2,versicolor,54,5.5,2.3,4.0,1.3
54,2,versicolor,55,6.5,2.8,4.6,1.5
55,2,versicolor,56,5.7,2.8,4.5,1.3
56,2,versicolor,57,6.3,3.3,4.7,1.6
57,2,versicolor,58,4.9,2.4,3.3,1.0
58,2,versicolor,59,6.6,2.9,4.6,1.3
59,2,versicolor,60,5.2,2.7,3.9,1.4
60,2,versicolor,61,5.0,2.0,3.5,1.0
61,2,versicolor,62,5.9,3.0,4.2,1.5
62,2,versicolor,63,6.0,2.2,4.0,1.0
63,2,versicolor,64,6.1,2.9,4.7,1.4
64,2,versicolor,65,5.6,2.9,3.6,1.3
65,2,versicolor,66,6.7,3.1,4.4,1.4
66,2,versicolor,67,5.6,3.0,4.5,1.5
67,2,versicolor,68,5.8,2.7,4.1,1.0
68,2,versicolor,69,6.2,2.2,4.5,1.5
69,2,versicolor,70,5.6,2.5,3.9,1.1
70,2,versicolor,71,5.9,3.2,4.8,1.8
71,2,versicolor,72,6.1,2.8,4.0,1.3
72,2,versicolor,73,6.3,2.5,4.9,1.5
73,2,versicolor,74,6.1,2.8,4.7,1.2
74,2,versicolor,75,6.4,2.9,4.3,1.3
75,2,versicolor,76,6.6,3.0,4.4,1.4
76,2,versicolor,77,6.8,2.8,4.8,1.4
77,2,versicolor,78,6.7,3.0,5.0,1.7
78,2,versicolor,79,6.0,2.9,4.5,1.5
79,2,versicolor,80,5.7,2.6,3.5,1.0
80,2,versicolor,81,5.5,2.4,3.8,1.1
81,2,versicolor,82,5.5,2.4,3.7,1.0
82,2,versicolor,83,5.8,2.7,3.9,1.2
83,2,versicolor,84,6.0,2.7,5.1,1.6
84,2,versicolor,85,5.4,3.0,4.5,1.5
85,2,versicolor,86,6.0,3.4,4.5,1.6
86,2,versicolor,87,6.7,3.1,4.7,1.5
87,2,versicolor,88,6.3,2.3,4.4,1.3
88,2,versicolor,89,5.6,3.0,4.1,1.3
89,2,versicolor,90,5.5,2.5,4.0,1.3
90,2,versicolor,91,5.5,2.6,4.4,1.2
91,2,versicolor,92,6.1,3.0,4.6,1.4
92,2,versicolor,93,5.8,2.6,4.0,1.2
93,2,versicolor,94,5.0,2.3,3.3,1.0
94,2,versicolor,95,5.6,2.7,4.2,1.3
95,2,versicolor,96,5.7,3.0,4.2,1.2
96,2,versicolor,97,5.7,2.9,4.2,1.3
97,2,versicolor,98,6.2,2.9,4.3,1.3
98,2,versicolor,99,5.1,2.5,3.0,1.1
99,2,versicolor,100,5.7,2.8,4.1,1.3
100,3,virginica,101,6.3,3.3,6.0,2.5
101,3,virginica,102,5.8,2.7,5.1,1.9
102,3,virginica,103,7.1,3.0,5.9,2.1
103,3,virginica,104,6.3,2.9,5.6,1.8
104,3,virginica,105,6.5,3.0,5.8,2.2
105,3,virginica,106,7.6,3.0,6.6,2.1
106,3,virginica,107,4.9,2.5,4.5,1.7
107,3,virginica,108,7.3,2.9,6.3,1.8
108,3,virginica,109,6.7,2.5,5.8,1.8
109,3,virginica,110,7.2,3.6,6.1,2.5
110,3,virginica,111,6.5,3.2,5.1,2.0
111,3,virginica,112,6.4,2.7,5.3,1.9
112,3,virginica,113,6.8,3.0,5.5,2.1
113,3,virginica,114,5.7,2.5,5.0,2.0
114,3,virginica,115,5.8,2.8,5.1,2.4
115,3,virginica,116,6.4,3.2,5.3,2.3
116,3,virginica,117,6.5,3.0,5.5,1.8
117,3,virginica,118,7.7,3.8,6.7,2.2
118,3,virginica,119,7.7,2.6,6.9,2.3
119,3,virginica,120,6.0,2.2,5.0,1.5
120,3,virginica,121,6.9,3.2,5.7,2.3
121,3,virginica,122,5.6,2.8,4.9,2.0
122,3,virginica,123,7.7,2.8,6.7,2.0
123,3,virginica,124,6.3,2.7,4.9,1.8
124,3,virginica,125,6.7,3.3,5.7,2.1
125,3,virginica,126,7.2,3.2,6.0,1.8
126,3,virginica,127,6.2,2.8,4.8,1.8
127,3,virginica,128,6.1,3.0,4.9,1.8
128,3,virginica,129,6.4,2.8,5.6,2.1
129,3,virginica,130,7.2,3.0,5.8,1.6
130,3,virginica,131,7.4,2.8,6.1,1.9
131,3,virginica,132,7.9,3.8,6.4,2.0
132,3,virginica,133,6.4,2.8,5.6,2.2
133,3,virginica,134,6.3,2.8,5.1,1.5
134,3,virginica,135,6.1,2.6,5.6,1.4
135,3,virginica,136,7.7,3.0,6.1,2.3
136,3,virginica,137,6.3,3.4,5.6,2.4
137,3,virginica,138,6.4,3.1,5.5,1.8
138,3,virginica,139,6.0,3.0,4.8,1.8
139,3,virginica,140,6.9,3.1,5.4,2.1
140,3,virginica,141,6.7,3.1,5.6,2.4
141,3,virginica,142,6.9,3.1,5.1,2.3
142,3,virginica,143,5.8,2.7,5.1,1.9
143,3,virginica,144,6.8,3.2,5.9,2.3
144,3,virginica,145,6.7,3.3,5.7,2.5
145,3,virginica,146,6.7,3.0,5.2,2.3
146,3,virginica,147,6.3,2.5,5.0,1.9
147,3,virginica,148,6.5,3.0,5.2,2.0
148,3,virginica,149,6.2,3.4,5.4,2.3
149,3,virginica,150,5.9,3.0,5.1,1.8

In [132]:
new_iris_data("""select * 
                    from species 
                    join measurements using (species_id)""")

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2
5,1,setosa,6,5.4,3.9,1.7,0.4
6,1,setosa,7,4.6,3.4,1.4,0.3
7,1,setosa,8,5.0,3.4,1.5,0.2
8,1,setosa,9,4.4,2.9,1.4,0.2
9,1,setosa,10,4.9,3.1,1.5,0.1
10,1,setosa,11,5.4,3.7,1.5,0.2
11,1,setosa,12,4.8,3.4,1.6,0.2
12,1,setosa,13,4.8,3.0,1.4,0.1
13,1,setosa,14,4.3,3.0,1.1,0.1
14,1,setosa,15,5.8,4.0,1.2,0.2
15,1,setosa,16,5.7,4.4,1.5,0.4
16,1,setosa,17,5.4,3.9,1.3,0.4
17,1,setosa,18,5.1,3.5,1.4,0.3
18,1,setosa,19,5.7,3.8,1.7,0.3
19,1,setosa,20,5.1,3.8,1.5,0.3
20,1,setosa,21,5.4,3.4,1.7,0.2
21,1,setosa,22,5.1,3.7,1.5,0.4
22,1,setosa,23,4.6,3.6,1.0,0.2
23,1,setosa,24,5.1,3.3,1.7,0.5
24,1,setosa,25,4.8,3.4,1.9,0.2
25,1,setosa,26,5.0,3.0,1.6,0.2
26,1,setosa,27,5.0,3.4,1.6,0.4
27,1,setosa,28,5.2,3.5,1.5,0.2
28,1,setosa,29,5.2,3.4,1.4,0.2
29,1,setosa,30,4.7,3.2,1.6,0.2
30,1,setosa,31,4.8,3.1,1.6,0.2
31,1,setosa,32,5.4,3.4,1.5,0.4
32,1,setosa,33,5.2,4.1,1.5,0.1
33,1,setosa,34,5.5,4.2,1.4,0.2
34,1,setosa,35,4.9,3.1,1.5,0.2
35,1,setosa,36,5.0,3.2,1.2,0.2
36,1,setosa,37,5.5,3.5,1.3,0.2
37,1,setosa,38,4.9,3.6,1.4,0.1
38,1,setosa,39,4.4,3.0,1.3,0.2
39,1,setosa,40,5.1,3.4,1.5,0.2
40,1,setosa,41,5.0,3.5,1.3,0.3
41,1,setosa,42,4.5,2.3,1.3,0.3
42,1,setosa,43,4.4,3.2,1.3,0.2
43,1,setosa,44,5.0,3.5,1.6,0.6
44,1,setosa,45,5.1,3.8,1.9,0.4
45,1,setosa,46,4.8,3.0,1.4,0.3
46,1,setosa,47,5.1,3.8,1.6,0.2
47,1,setosa,48,4.6,3.2,1.4,0.2
48,1,setosa,49,5.3,3.7,1.5,0.2
49,1,setosa,50,5.0,3.3,1.4,0.2
50,2,versicolor,51,7.0,3.2,4.7,1.4
51,2,versicolor,52,6.4,3.2,4.5,1.5
52,2,versicolor,53,6.9,3.1,4.9,1.5
53,2,versicolor,54,5.5,2.3,4.0,1.3
54,2,versicolor,55,6.5,2.8,4.6,1.5
55,2,versicolor,56,5.7,2.8,4.5,1.3
56,2,versicolor,57,6.3,3.3,4.7,1.6
57,2,versicolor,58,4.9,2.4,3.3,1.0
58,2,versicolor,59,6.6,2.9,4.6,1.3
59,2,versicolor,60,5.2,2.7,3.9,1.4
60,2,versicolor,61,5.0,2.0,3.5,1.0
61,2,versicolor,62,5.9,3.0,4.2,1.5
62,2,versicolor,63,6.0,2.2,4.0,1.0
63,2,versicolor,64,6.1,2.9,4.7,1.4
64,2,versicolor,65,5.6,2.9,3.6,1.3
65,2,versicolor,66,6.7,3.1,4.4,1.4
66,2,versicolor,67,5.6,3.0,4.5,1.5
67,2,versicolor,68,5.8,2.7,4.1,1.0
68,2,versicolor,69,6.2,2.2,4.5,1.5
69,2,versicolor,70,5.6,2.5,3.9,1.1
70,2,versicolor,71,5.9,3.2,4.8,1.8
71,2,versicolor,72,6.1,2.8,4.0,1.3
72,2,versicolor,73,6.3,2.5,4.9,1.5
73,2,versicolor,74,6.1,2.8,4.7,1.2
74,2,versicolor,75,6.4,2.9,4.3,1.3
75,2,versicolor,76,6.6,3.0,4.4,1.4
76,2,versicolor,77,6.8,2.8,4.8,1.4
77,2,versicolor,78,6.7,3.0,5.0,1.7
78,2,versicolor,79,6.0,2.9,4.5,1.5
79,2,versicolor,80,5.7,2.6,3.5,1.0
80,2,versicolor,81,5.5,2.4,3.8,1.1
81,2,versicolor,82,5.5,2.4,3.7,1.0
82,2,versicolor,83,5.8,2.7,3.9,1.2
83,2,versicolor,84,6.0,2.7,5.1,1.6
84,2,versicolor,85,5.4,3.0,4.5,1.5
85,2,versicolor,86,6.0,3.4,4.5,1.6
86,2,versicolor,87,6.7,3.1,4.7,1.5
87,2,versicolor,88,6.3,2.3,4.4,1.3
88,2,versicolor,89,5.6,3.0,4.1,1.3
89,2,versicolor,90,5.5,2.5,4.0,1.3
90,2,versicolor,91,5.5,2.6,4.4,1.2
91,2,versicolor,92,6.1,3.0,4.6,1.4
92,2,versicolor,93,5.8,2.6,4.0,1.2
93,2,versicolor,94,5.0,2.3,3.3,1.0
94,2,versicolor,95,5.6,2.7,4.2,1.3
95,2,versicolor,96,5.7,3.0,4.2,1.2
96,2,versicolor,97,5.7,2.9,4.2,1.3
97,2,versicolor,98,6.2,2.9,4.3,1.3
98,2,versicolor,99,5.1,2.5,3.0,1.1
99,2,versicolor,100,5.7,2.8,4.1,1.3
100,3,virginica,101,6.3,3.3,6.0,2.5
101,3,virginica,102,5.8,2.7,5.1,1.9
102,3,virginica,103,7.1,3.0,5.9,2.1
103,3,virginica,104,6.3,2.9,5.6,1.8
104,3,virginica,105,6.5,3.0,5.8,2.2
105,3,virginica,106,7.6,3.0,6.6,2.1
106,3,virginica,107,4.9,2.5,4.5,1.7
107,3,virginica,108,7.3,2.9,6.3,1.8
108,3,virginica,109,6.7,2.5,5.8,1.8
109,3,virginica,110,7.2,3.6,6.1,2.5
110,3,virginica,111,6.5,3.2,5.1,2.0
111,3,virginica,112,6.4,2.7,5.3,1.9
112,3,virginica,113,6.8,3.0,5.5,2.1
113,3,virginica,114,5.7,2.5,5.0,2.0
114,3,virginica,115,5.8,2.8,5.1,2.4
115,3,virginica,116,6.4,3.2,5.3,2.3
116,3,virginica,117,6.5,3.0,5.5,1.8
117,3,virginica,118,7.7,3.8,6.7,2.2
118,3,virginica,119,7.7,2.6,6.9,2.3
119,3,virginica,120,6.0,2.2,5.0,1.5
120,3,virginica,121,6.9,3.2,5.7,2.3
121,3,virginica,122,5.6,2.8,4.9,2.0
122,3,virginica,123,7.7,2.8,6.7,2.0
123,3,virginica,124,6.3,2.7,4.9,1.8
124,3,virginica,125,6.7,3.3,5.7,2.1
125,3,virginica,126,7.2,3.2,6.0,1.8
126,3,virginica,127,6.2,2.8,4.8,1.8
127,3,virginica,128,6.1,3.0,4.9,1.8
128,3,virginica,129,6.4,2.8,5.6,2.1
129,3,virginica,130,7.2,3.0,5.8,1.6
130,3,virginica,131,7.4,2.8,6.1,1.9
131,3,virginica,132,7.9,3.8,6.4,2.0
132,3,virginica,133,6.4,2.8,5.6,2.2
133,3,virginica,134,6.3,2.8,5.1,1.5
134,3,virginica,135,6.1,2.6,5.6,1.4
135,3,virginica,136,7.7,3.0,6.1,2.3
136,3,virginica,137,6.3,3.4,5.6,2.4
137,3,virginica,138,6.4,3.1,5.5,1.8
138,3,virginica,139,6.0,3.0,4.8,1.8
139,3,virginica,140,6.9,3.1,5.4,2.1
140,3,virginica,141,6.7,3.1,5.6,2.4
141,3,virginica,142,6.9,3.1,5.1,2.3
142,3,virginica,143,5.8,2.7,5.1,1.9
143,3,virginica,144,6.8,3.2,5.9,2.3
144,3,virginica,145,6.7,3.3,5.7,2.5
145,3,virginica,146,6.7,3.0,5.2,2.3
146,3,virginica,147,6.3,2.5,5.0,1.9
147,3,virginica,148,6.5,3.0,5.2,2.0
148,3,virginica,149,6.2,3.4,5.4,2.3
149,3,virginica,150,5.9,3.0,5.1,1.8

Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join contract_types, internet_service_types, payment_types tables with the customers table, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

In [133]:
url = get_db_url('telco_churn')
url

'mysql+pymysql://pagel_2187:Fd9gHEmyRFZNH6qGh9rSzxcksXhZ4wz6@data.codeup.com/telco_churn'

In [134]:
df3 = pd.read_sql('''select * 
                    from customers
                    join contract_types using (contract_type_id)
                    join internet_service_types using (internet_service_type_id)
                    join payment_types using (payment_type_id);
                    ''', url)
df3

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,1,2,9987-LUTYD,Female,0,No,No,13,Yes,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,Yes,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,Yes,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,No,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

In [135]:
def new_telco_churn(SQL_query):
    '''
    - This function will:
    - take in a sql query
    - create a connect_url to mySQL
    - return a df of the given query from the telco_churn
    '''
    url = get_db_url('telco_churn')
    
    return pd.read_sql(SQL_query, url)

In [152]:
def get_telco_churn(SQL_query, directory, filename='telco.csv'):
    '''
    this function will:
    -check local directory for csv file
     -return if exists
    -if csv doesn't exist:
     -create a df of the SQL_query
     -write df to csv
    -output titanic df
    '''
    if os.path.exists(directory + filename):
        df = pd.read_csv(filename)
        return df
    else:
        df = new_telco_churn(SQL_query)
        
        #want to save to csv
        df.to_csv(filename)
        return df

In [153]:
SQL_query = """select * 
                    from customers
                    join contract_types using (contract_type_id)
                    join internet_service_types using (internet_service_type_id)
                    join payment_types using (payment_type_id)"""
directory = '/Users/andrewcasey/codeup-data-science/classification_exercises'

In [154]:
get_telco_churn(SQL_query,directory)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,1,2,9987-LUTYD,Female,0,No,No,13,Yes,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,Yes,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,Yes,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,No,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

In [137]:
new_telco_churn('''select * 
                    from customers
                    join contract_types using (contract_type_id)
                    join internet_service_types using (internet_service_type_id)
                    join payment_types using (payment_type_id);
                    ''')

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,1,2,9987-LUTYD,Female,0,No,No,13,Yes,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,Yes,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,Yes,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,No,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check